# gateway/templates/wizard/keys.yaml.tmpl
schema_version: "1.0.0"

llm:
  active: "ollama-cloud"

  ollama_cloud:
    api_key: null
    base_url: "http://host.docker.internal:11434/v1"

  openrouter:
    api_key: null
    base_url: null

  custom:
    api_key: null
    base_url: null

tts:
  fish_audio:
    api_key: null

home_assistant:
  url: null
  local_ip: null
  observe_token: null
  mcp_server_token: null

music_assistant:
  url: null
  local_ip: null
  token: null

admin_token: "{{admin_token}}"
